##### Log metrics to your honeycomb account #####
HONEYCOMB_ENABLED=false
HONEYCOMB_API_KEY=XXXXXXXXXXXXX
OTEL_SERVICE_NAME=YYYYYY

# used for generating trace url in demos
HONEYCOMB_SERVICE_NAME=AAAAAAA
HONEYCOMB_ENVIRONMENT=BBBBBBB
